header {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
header .logo {
  grid-area: logo;
}
header #iconocerveza {
  margin-right: 30px;
  width: 50px;
  height: 50px;
}
header .titulo {
  padding: 50px 0 50px 0;
  color: #F1BB6A;
  font-size: 60px;
  text-align: center;
  font-family: "M PLUS 2", sans-serif;
  margin-block-end: 0px;
}

footer {
  background-color: black;
  font-family: "Roboto", sans-serif;
}
footer .redes {
  padding: 10px;
}
footer .redes ul li {
  color: white;
  list-style-type: none;
  font-size: 12px;
  padding: 5px;
}
footer .redes .listafooter ul.lista li {
  display: inline;
}

.iconoredes {
  margin: 0px 20px 0px 0;
  float: right;
  object-fit: contain;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.galeria {
  margin: 10px 0 10px 0;
  grid-area: galeria;
  display: grid;
  grid-template-rows: 33% 33% 34%;
  grid-template-columns: 23% 23% 23% 23%;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

.textonosotros {
  margin: 0 30px 30px 30px;
  padding: 5px;
  color: rgb(54, 45, 20);
  background-color: rgba(238, 230, 206, 0.699);
  text-align: justify;
  font-family: "Roboto", sans-serif;
  grid-area: textonosotros;
  height: fit-content;
  width: fit-content;
}
.textonosotros:hover {
  transform: scale(1.03);
  transition: 2s;
}

.subsubtitulo {
  margin: auto;
  font-family: "Roboto", sans-serif;
  width: fit-content;
  height: fit-content;
  color: white;
  grid-area: subsubtitulo;
  background-color: rgba(0, 0, 0, 0.733);
  border-radius: 3px;
}

.micuentacol1 {
  grid-area: micuentacol1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.micuentacol1 .subsubtitulo2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: fit-content;
  width: fit-content;
  color: white;
  grid-area: subsubtitulo2;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  border-radius: 3px;
}
.micuentacol1 .formulario {
  background-color: #e2d9be;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  grid-area: formulario;
  display: flex;
  align-items: center;
  line-height: 35px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.micuentacol1 .formulario .finalform {
  padding-top: 2px;
}
.micuentacol1 .formulario .finalform .boton {
  padding: 0 2px 0 2px;
  border-radius: 5px;
}

.micuentacol2 {
  grid-area: micuentacol2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.micuentacol2 .subsubtitulo2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  height: fit-content;
  width: fit-content;
  color: white;
  grid-area: subsubtitulo2;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  border-radius: 3px;
}
.micuentacol2 .formulario2 {
  background-color: #e2d9be;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  grid-area: formulario2;
  display: flex;
  align-items: center;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 20px;
}
.micuentacol2 .formulario2 .finalform {
  padding-top: 2px;
}
.micuentacol2 .formulario2 .finalform .boton {
  padding: 0 2px 0 2px;
  border-radius: 5px;
}

.fondotextarea {
  background-color: rgba(212, 140, 107, 0.473);
}

.subformcontacto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subformcontacto .formulariocontacto {
  grid-area: formulariocontacto;
  background-color: #e2d9be;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 20px;
}
.subformcontacto .formulariocontacto .finalform {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2px;
}
.subformcontacto .formulariocontacto .finalform .boton {
  padding: 0 2px 0 2px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  background-image: url(../IMAGENES/fondo6-min.jpg);
  background-size: cover;
}

.cuerpo {
  display: grid;
  align-items: center;
  grid-template-rows: auto 150px auto 130px 200px;
  grid-template-areas: "carousel" "subtituloindex" "destacados" "subtitulo2" "sponsor";
}

.contactocuerpo {
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-areas: "subtitulocontacto" "formulariocontacto";
}

.nosotroscuerpo {
  display: grid;
  grid-template-rows: 150px 200px;
  grid-template-areas: "subtitulonosotros" "textonosotros";
}

.micuentacuerpo {
  display: grid;
  grid-template-rows: 150px 75px auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "subtitulomicuenta subtitulomicuenta" "subsubtitulo subsubtitulo" "micuentacol1 micuentacol2";
}

.productoscuerpo {
  display: grid;
  grid-template-rows: 150px 1450px;
  grid-template-areas: "subtituloproductos" "galeria";
}

.bodyindex {
  background-image: none;
  background: linear-gradient(#ff6600, rgb(173, 106, 17));
}
.bodyindex .carousel-inner {
  grid-area: carousel;
}
.bodyindex .destacados {
  grid-area: destacados;
  margin: auto;
  display: grid;
  grid-template-columns: 20% 20% 20%;
  align-items: center;
  justify-content: space-evenly;
}
.bodyindex .sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: auto;
  color: white;
  grid-area: sponsor;
}
.bodyindex .sponsors #sponsor {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 0 10px 0px 10px;
  transition: all 1s;
}
.bodyindex #sponsor:hover {
  transform: scale(1.1);
}

.subtitulo, .subtitulo2 {
  background-color: rgba(241, 187, 106, 0.52);
  color: white;
  padding: 20px;
  margin: 0px 0 0px 30px;
  border: 2px solid black;
  width: fit-content;
  height: fit-content;
  font-family: "M PLUS 2", sans-serif;
  grid-area: subtitulo;
}

.subtitulo2 {
  grid-area: subtitulo2;
  margin-left: 30px;
}

.subtituloindex {
  grid-area: subtituloindex;
  display: flex;
  align-items: center;
}

.subtitulocontacto {
  grid-area: subtitulocontacto;
  display: flex;
  align-items: center;
}

.subtitulonosotros {
  grid-area: subtitulonosotros;
  display: flex;
  align-items: center;
}

.subtituloproductos {
  grid-area: subtituloproductos;
  display: flex;
  align-items: center;
}

.subtitulomicuenta {
  grid-area: subtitulomicuenta;
  display: flex;
  align-items: center;
}

@media (max-width: 320px) {
  header {
    display: flex;
    flex-direction: column;
  }
  header .titulo {
    padding: 0px 0 20px 0;
    font-size: 25px;
  }
  header #iconocerveza {
    padding: 5px;
    margin: 0;
  }

  .cuerpo {
    display: grid;
    align-items: center;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto 100px 120px;
    grid-template-areas: "subtituloindex" "destacados" "subtitulo2" "sponsor";
  }
  .cuerpo .carousel {
    display: none;
  }
  .cuerpo .subtituloindex {
    grid-area: subtituloindex;
    justify-content: center;
  }
  .cuerpo .subtituloindex .subtitulo, .cuerpo .subtituloindex .subtitulo2 {
    font-size: 15px;
    margin: 0;
  }
  .cuerpo .destacados {
    grid-area: destacados;
    display: flex;
    flex-direction: column;
    margin: 45px;
    row-gap: 10px;
  }
  .cuerpo .subtitulo2 {
    display: flex;
    align-items: center;
    font-size: 15px;
    grid-area: subtitulo2;
    margin: auto;
  }
  .cuerpo .sponsors {
    height: 100px;
    width: 250px;
    grid-area: sponsor;
    margin: auto;
  }
  .cuerpo .sponsors #sponsor {
    height: 50px;
    width: 50px;
  }

  .productoscuerpo {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas: "subtituloproductos" "galeria";
  }
  .productoscuerpo .subtituloproductos {
    grid-area: subtituloproductos;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .productoscuerpo .subtituloproductos .subtitulo, .productoscuerpo .subtituloproductos .subtitulo2 {
    margin: 0;
  }
  .productoscuerpo .galeria {
    margin: 50px;
    grid-area: galeria;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
  }

  .nosotroscuerpo {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas: "subtitulonosotros" "textonosotros";
  }
  .nosotroscuerpo .subtitulonosotros {
    grid-area: subtitulonosotros;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nosotroscuerpo .subtitulonosotros .subtitulo, .nosotroscuerpo .subtitulonosotros .subtitulo2 {
    margin: 0;
  }
  .nosotroscuerpo .textonosotros {
    margin: 20px;
    grid-area: textonosotros;
  }

  .micuentacuerpo {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: auto;
    grid-template-rows: 100px 100px auto auto;
    grid-template-columns: none;
    grid-template-areas: "subtitulomicuenta" "subsubtitulo" "micuentacol1" "micuentacol2";
  }
  .micuentacuerpo .subtitulomicuenta {
    margin: auto;
  }
  .micuentacuerpo .subtitulomicuenta .subtitulo, .micuentacuerpo .subtitulomicuenta .subtitulo2 {
    margin: 0;
  }
  .micuentacuerpo .subsubtitulo {
    text-align: center;
  }
  .micuentacuerpo .formulario {
    margin-bottom: 20px;
  }
  .micuentacuerpo .micuentacol2 {
    margin: 20px 0 20px 0;
  }

  .contactocuerpo {
    display: grid;
    grid-template-rows: 120px auto;
    grid-template-areas: "subtitulocontacto" "formulariocontacto";
    align-items: center;
  }
  .contactocuerpo .subtitulocontacto {
    grid-area: subtitulocontacto;
    display: flex;
    justify-content: center;
  }
  .contactocuerpo .subtitulocontacto .subtitulo, .contactocuerpo .subtitulocontacto .subtitulo2 {
    margin: 0;
  }
  .contactocuerpo .formulariocontacto {
    grid-area: formulariocontacto;
    height: fit-content;
    width: fit-content;
    margin: 20px;
  }

  .listafooter {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10px;
  }
  .listafooter ul.lista {
    padding: 0;
  }
  .listafooter .lista {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .iconoredes {
    margin: auto;
    float: none;
    padding: 0;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  header .logo {
    padding: 0px;
    grid-area: logo;
  }
  header .logo #iconocerveza {
    margin: 0;
    width: 40px;
    height: 40px;
  }
  header .titulo {
    padding: 50px 0 50px 0;
    color: #F1BB6A;
    font-size: 40px;
    text-align: center;
    font-family: "M PLUS 2", sans-serif;
    margin-block-start: 0px;
    margin-block-end: 0px;
  }
  header .navbar {
    border-radius: 5%;
    padding: 6px;
  }

  .cuerpo {
    display: grid;
    align-items: center;
    grid-template-rows: auto 130px auto 100px auto;
    grid-template-areas: "carousel" "subtituloindex" "destacados" "subtitulo2" "sponsor";
  }
  .cuerpo .subtituloindex {
    grid-area: subtituloindex;
    justify-content: center;
  }
  .cuerpo .subtituloindex .subtitulo, .cuerpo .subtituloindex .subtitulo2 {
    margin: 0px;
    font-size: 25px;
    padding: 15px;
  }
  .cuerpo .destacados {
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .cuerpo .subtitulo2 {
    font-size: 25px;
    grid-area: subtitulo2;
    margin: auto;
  }
  .cuerpo .sponsors {
    height: 150px;
    grid-area: sponsor;
  }
  .cuerpo .sponsors #sponsor {
    height: 100px;
    width: 100px;
  }

  .nosotroscuerpo {
    display: grid;
    grid-template-rows: 130px auto;
    grid-template-areas: "subtitulonosotros" "textonosotros";
    align-items: center;
    justify-content: center;
  }
  .nosotroscuerpo .subtitulonosotros {
    grid-area: subtitulonosotros;
    justify-content: center;
  }
  .nosotroscuerpo .subtitulonosotros .subtitulo, .nosotroscuerpo .subtitulonosotros .subtitulo2 {
    margin: 0;
  }
  .nosotroscuerpo .textonosotros {
    grid-area: textonosotros;
    margin-top: 30px;
  }

  .micuentacuerpo {
    display: grid;
    grid-template-rows: 130px 75px auto;
    grid-template-columns: 50% 50%;
    grid-template-areas: "subtitulomicuenta subtitulomicuenta" "subsubtitulo subsubtitulo" "micuentacol1 micuentacol2";
  }
  .micuentacuerpo .subtitulomicuenta {
    grid-area: subtitulomicuenta;
    justify-content: center;
  }
  .micuentacuerpo .subtitulomicuenta .subtitulo, .micuentacuerpo .subtitulomicuenta .subtitulo2 {
    margin: 0;
  }
  .micuentacuerpo .subsubtitulo {
    margin: auto;
    grid-area: subsubtitulo;
  }
  .micuentacuerpo .formulario2 {
    margin-bottom: 20px;
  }

  .contactocuerpo {
    display: grid;
    grid-template-rows: 130px 460px;
    grid-template-areas: "subtitulocontacto" "formulariocontacto";
    justify-content: center;
    align-items: center;
  }
  .contactocuerpo .subtitulocontacto {
    grid-area: subtitulocontacto;
    justify-content: center;
  }
  .contactocuerpo .subtitulocontacto .subtitulo, .contactocuerpo .subtitulocontacto .subtitulo2 {
    margin: 0;
  }
  .contactocuerpo .formulariocontacto {
    grid-area: formulariocontacto;
    margin: 0;
  }

  .productoscuerpo {
    display: grid;
    grid-template-rows: 130px 1150px;
    grid-template-areas: "subtituloproductos" "galeria";
  }
  .productoscuerpo .subtituloproductos {
    grid-area: subtituloproductos;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .productoscuerpo .subtituloproductos .subtitulo, .productoscuerpo .subtituloproductos .subtitulo2 {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
