//---Imports---//

@import "./components/header";
@import "./components/footer";
@import "./components/productos";
@import "./components/nosotros";
@import "./components/micuenta";
@import "./components/contacto";

* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

//GRIDS//
.cuerpo {
    display: grid;
    align-items: center;
    grid-template-rows: auto 150px auto 130px 200px;
    grid-template-areas: 
    "carousel"
    "subtituloindex"
    "destacados"
    "subtitulo2"
    "sponsor"
    ;
}
.contactocuerpo {
    display: grid;
    grid-template-rows: 150px 450px;
    grid-template-areas: 
    "subtitulocontacto"
    "formulariocontacto";
}
.nosotroscuerpo {
    display: grid;
    grid-template-rows: 150px 200px;
    grid-template-areas: 
    "subtitulonosotros"
    "textonosotros";
}
.micuentacuerpo {
    display: grid;
    grid-template-rows: 150px 75px 500px;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "subtitulomicuenta subtitulomicuenta"
    "subsubtitulo subsubtitulo" 
    "micuentacol1 micuentacol2"
    ;
}
.productoscuerpo {
    display: grid;
    grid-template-rows: 150px 1450px;
    grid-template-areas: 
    "subtituloproductos"
    "galeria"
    ;
}

//-----BODY-----//
body{
    margin: 0px;
    background-image: url(../IMAGENES/fondo6.jpg);
    background-size: cover;
    /*fijar posicion de fondo en todas las paginas por igual*/
}
//Index//
.bodyindex {
    background-image: none;
    background: linear-gradient(#ff6600, rgb(173, 106, 17));
}
.carousel-inner {
    grid-area: carousel;
}
.subtitulo {
    background-color:rgba(241, 187, 106, 0.52);
    color: white;
    padding: 20px;
    margin: 0px 0 0px 30px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    font-family: 'M PLUS 2', sans-serif;
    grid-area: subtitulo;
}
.subtitulo2 {
    @extend .subtitulo;
    grid-area: subtitulo2;
    margin-left: 30px;
}
.destacados {
    grid-area: destacados;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    align-items: center;
    justify-content: space-evenly;
}
.sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: auto;
    color: white;
    grid-area: sponsor;
    #sponsor {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 0 10px 0px 10px;
        transition: all 1s;
    }
}
#sponsor:hover {
    transform: scale(1.1);
}
//MIXIN Subtitulos//
@mixin subtitulos($grid, $display, $align) {
    grid-area: $grid;
    display: $display;
    align-items: $align;
}
.subtituloindex{
    @include subtitulos (subtituloindex, flex, center)
}
.subtitulocontacto {
    @include subtitulos (subtitulocontacto, flex, center)
}
.subtitulonosotros {
    @include subtitulos(subtitulonosotros, flex, center)
}
.subtituloproductos {
    @include subtitulos(subtituloproductos, flex, center)
}
.subtitulomicuenta {
    @include subtitulos(subtitulomicuenta, flex, center)
}



//------RESPONSIVE------//

//MOBILE-320px//
@media (max-width: 320px){

    //HEADER//
    header {
        display: flex;
        flex-direction: column;
        .titulo {
            padding: 0px 0 20px 0;
            font-size: 25px;
        }
        #iconocerveza {
            padding: 5px;
            margin: 0;
        }
    }
    //BODY//
    .cuerpo {
        display: grid;
        align-items: center;
        grid-template-columns: 100%;
        grid-template-rows: 100px auto 100px 120px;
        grid-template-areas: 
        "subtituloindex"
        "destacados"
        "subtitulo2"
        "sponsor"
        ;
        .carousel {
            display: none;
        }
        .destacados {
            grid-area: destacados;
            display: flex;
            flex-direction: column;
            margin: 45px;
            row-gap: 10px;
        }
    }
    .subtituloindex{
        grid-area: subtituloindex;
        justify-content: center;
    }
    .subtitulo {
        font-size: 15px;
        margin: 0;
    }
    .subtitulo2 {
        display: flex;
        align-items: center;
        font-size: 15px;
        grid-area: subtitulo2;
        margin: auto;
    }  
    .sponsors {
        height: 100px;
        width: 250px;
        grid-area: sponsor;
        margin: auto;
    }
    .sponsors #sponsor {
        height: 50px;
        width: 50px;
    }
    //PRODUCTOS//
    .productoscuerpo {
        display: grid;
        grid-template-rows: 100px auto;
        grid-template-areas:
        "subtituloproductos" 
        "galeria"
        ;
    }
    .subtituloproductos {
        grid-area: subtituloproductos;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .galeria {
        margin: 50px;
        grid-area: galeria;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    //NOSOTROS//
    .nosotroscuerpo {
        display: grid;
        grid-template-rows: 100px auto;
        grid-template-areas: 
        "subtitulonosotros"
        "textonosotros";
    }
    .subtitulonosotros {
        grid-area: subtitulonosotros;
        display: flex;
        align-items: center;
        justify-content: center;        
    }
    .textonosotros {
        margin: 20px;
        grid-area: textonosotros;
    }

    //MI CUENTA//
    .micuentacuerpo {
        display: grid;
        align-items: center;
        justify-content: center;
        margin: auto;
        grid-template-rows: 100px 100px auto auto;
        grid-template-columns: none;
        grid-template-areas: 
        "subtitulomicuenta"
        "subsubtitulo"
        "micuentacol1"
        "micuentacol2"
        ;
        .subtitulomicuenta {
            margin: auto;
        }
        .formulario {
            margin-bottom: 20px;
        }
        .micuentacol2 {
            margin: 20px 0 20px 0;
        }
    }
    //CONTACTO//
    .contactocuerpo {
        display: grid;
        grid-template-rows: 120px auto;
        grid-template-areas: 
        "subtitulocontacto"
        "formulariocontacto";
        align-items: center;
    }
    .subtitulocontacto {
        grid-area: subtitulocontacto;
        display: flex;
        justify-content: center;
    }
    .formulariocontacto {
        grid-area: formulariocontacto;
        height: fit-content;
        width: fit-content;
        margin: 20px;
    }

    //FOOTER//
    .redes ul li {
        font-size: 10px;
    }
    .iconoredes {
        margin: auto;
        float: none;
        padding: 0;
    }
    .listafooter {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap: 5px;
        text-align: center;
    }
    .lista {
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}
@media (max-width: 768px) and (min-width: 576px) {

    header {
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    .logo {
        padding: 0px;
        grid-area: logo;
    }
    .titulo {
        padding: 50px 0 50px 0;
        color:#F1BB6A;
        font-size: 40px;
        text-align: center;
        font-family: 'M PLUS 2', sans-serif;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
    #iconocerveza {
        margin: 0;
        width: 40px;
        height: 40px;
    }
    .navbar {
        border-radius: 5%;
        padding: 6px;
    }
    .cuerpo {
        display: grid;
        align-items: center;
        grid-template-rows: auto 130px auto 100px auto;
        grid-template-areas: 
        "carousel"
        "subtituloindex"
        "destacados"
        "subtitulo2"
        "sponsor";
    }
    .subtituloindex {
        grid-area: subtituloindex;
        justify-content: center;
    }
    .destacados {
        margin: auto;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .subtitulo {
        margin: 0px;
        font-size: 25px;
        padding: 15px;
    }
    .subtitulo2 {
        font-size: 25px;
        grid-area: subtitulo2;
        margin: auto;
    }  
    .sponsors {
        height: 150px;
        grid-area: sponsor;
    }
    .sponsors #sponsor {
        height: 100px;
        width: 100px;
    }
    //NOSOTROS//
    .nosotroscuerpo {
        display: grid;
        grid-template-rows: 100px auto;
        grid-template-areas: 
        "subtitulonosotros"
        "textonosotros";
    }
    .subtitulonosotros {
        grid-area: subtitulonosotros;
        justify-content: center;
    }
    .textonosotros {
        grid-area: textonosotros;
    }
    //MI CUENTA// 
    .micuentacuerpo {
        display: grid;
        grid-template-rows: 100px 75px auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "subtitulomicuenta subtitulomicuenta"
        "subsubtitulo subsubtitulo" 
        "micuentacol1 micuentacol2"
        ;
    }
    .subtitulomicuenta {
        grid-area: subtitulomicuenta;
        justify-content: center;
    }
    .subsubtitulo {
        margin: auto;
        grid-area: subsubtitulo;
    }
    .formulario2 {
        margin-bottom: 20px;
    }
        //CONTACTO//
    .contactocuerpo {
        display: grid;
        grid-template-rows: 100px 460px;
        grid-template-areas: 
        "subtitulocontacto"
        "formulariocontacto";
        justify-content: center;
        align-items: center;
    }
    .subtitulocontacto {
        grid-area: subtitulocontacto;
        justify-content: center;
    }
    .formulariocontacto {
        grid-area: formulariocontacto;
        margin: 0;
    }
    //PRODUCTOS//
    .productoscuerpo {
        display: grid;
        grid-template-rows: 100px 1150px;
        grid-template-areas: 
        "subtituloproductos"
        "galeria"
        ;
    }
    .subtituloproductos {
        grid-area: subtituloproductos;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}