//-------FOOTER-------//
footer {
    background-color: black;
    font-family:'Roboto', sans-serif;
}
.redes {
    padding: 20px;
}
.redes ul li {
    color: white;
    list-style-type: none;
    font-size: 12px;
}
.iconoredes {
    margin: 0px 20px 0px 0;
    float: right;
    object-fit: contain;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
