//MiCuenta//

$micuenta: (
    colorfor: #f1bb6a79,
    height: fit-content,
    width: fit-content,
    display: flex,
    align-items: center,
);

.subsubtitulo {
    font-family: 'Roboto', sans-serif;
    height: map-get($micuenta, height);
    width: map-get($micuenta, width);
    margin: 0 0 0 30px;
    color: white;
    grid-area: subsubtitulo;
    display: map-get($micuenta, display);
    align-items: map-get($micuenta, align-items);
}
.subsubtitulo2 {
    font-family: 'Roboto', sans-serif;
    height: map-get($micuenta, height);
    width: map-get($micuenta, width);
    margin: 0 0 20px 30px;
    color: white;
    grid-area: subsubtitulo2;
    display: map-get($micuenta, display);
    align-items: map-get($micuenta, align-items);
}
.formulario {
    background-color: map-get($micuenta, colorfor);
    height: map-get($micuenta, height);
    width: map-get($micuenta, width);
    margin: 0px 0px 0px 30px;
    border: solid black 2px;
    font-family: 'Roboto', sans-serif;
    grid-area: formulario;
    display: map-get($micuenta, display);
    align-items: map-get($micuenta, align-items);
    line-height: 35px;
}
.formulario2 {
    background-color: map-get($micuenta, colorfor);
    height: map-get($micuenta, height);
    width: map-get($micuenta, width);
    margin-left: 30px ;
    border: solid black 2px;
    font-family: 'Roboto', sans-serif;
    grid-area: formulario2;
    display: map-get($micuenta, display);
    align-items: map-get($micuenta, align-items);
    line-height: 30px;
}
.fondotextarea {
    background-color: rgba(219, 173, 22, 0.253) ;
}