//MiCuenta//

$micuenta: (
    colorfor: #e2d9be,
    height: fit-content,
    width: fit-content,
    display: flex,
    align-items: center,
    border-radius: 3px,
    background-color: rgba(0, 0, 0, 0.733),
);
.subsubtitulo {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    width: map-get($micuenta, width);
    height: map-get($micuenta, height);
    color: white;
    grid-area: subsubtitulo;
    background-color: map-get($micuenta, background-color);
    border-radius: map-get($micuenta, border-radius);
}
.micuentacol1 {
    grid-area: micuentacol1;
    display: flex;
    align-items: center;
    flex-direction: column;
    .subsubtitulo2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: map-get($micuenta, height);
        width: map-get($micuenta, width);
        color: white;
        grid-area: subsubtitulo2;
        display: map-get($micuenta, display);
        align-items: map-get($micuenta, align-items);
        background-color: map-get($micuenta, background-color);
        border-radius: map-get($micuenta, border-radius);
    }
    .formulario {
        background-color: map-get($micuenta, colorfor);
        height: map-get($micuenta, height);
        width: map-get($micuenta, width);
        padding: 5px;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        grid-area: formulario;
        display: map-get($micuenta, display);
        align-items: map-get($micuenta, align-items);
        line-height: 35px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        .finalform {
            padding-top: 2px;
            .boton {
                padding: 0 2px 0 2px;
                border-radius: 5px;
            }
        }
    }    
}
.micuentacol2 {
    grid-area: micuentacol2;
    display: flex;
    align-items: center;
    flex-direction: column;
    .subsubtitulo2 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        height: map-get($micuenta, height);
        width: map-get($micuenta, width);
        color: white;
        grid-area: subsubtitulo2;
        display: map-get($micuenta, display);
        align-items: map-get($micuenta, align-items);
        background-color: map-get($micuenta, background-color);
        border-radius: map-get($micuenta, border-radius);
    }
    .formulario2 {
        background-color: map-get($micuenta, colorfor);
        height: map-get($micuenta, height);
        width: map-get($micuenta, width);
        padding: 5px;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        grid-area: formulario2;
        display: map-get($micuenta, display);
        align-items: map-get($micuenta, align-items);
        line-height: 30px;
        display: flex;
        flex-direction: column;
        gap: 2px;
        margin-bottom: 20px;
        .finalform {
            padding-top: 2px;
            .boton {
                padding: 0 2px 0 2px;
                border-radius: 5px;
            }
        }
    }
}
.fondotextarea {
    background-color: rgba(212, 140, 107, 0.473) ;
}