//Nosotros//
.subtitulonosotros {
    grid-area: subtitulonosotros;
    display: flex;
    align-items: center;
}
.textonosotros {
    margin: 0 30px 30px 30px;
    color: rgba(84, 70, 30, 1);
    background-color: rgba(238, 230, 206, 0.51) ;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    grid-area: textonosotros;
    height: fit-content;
    width: fit-content;
}