//Nosotros//



.textonosotros {
    margin: 0 30px 30px 30px;
    padding: 5px;
    color: rgb(54, 45, 20);
    background-color: rgba(238, 230, 206, 0.699) ;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    grid-area: textonosotros;
    height: fit-content;
    width: fit-content;
    &:hover {
        transform: scale(1.03);
        transition: 2s;
    }
}